body {
  font-family: Times New Roman;
  margin: 50px;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

input {
  width: 200px;
  padding: 4px;
}

button {
  padding: 5px 10px;
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  border: 2px solid black;
  margin-top: 15px;
  width: 60%;
}

th, td {
  border: 1px solid black;
  padding: 6px 12px;
  text-align: left;
}

#message {
  font-weight: bold;
  margin-top: 10px;
}